

.task-card-container{
    display: flex;
    justify-content: space-between;
    
}
.task-card{
    background-color: rgb(146, 172, 159);
    display: inline-block;
    padding-inline-start: 15px;
    padding-right: 85px;
    
}

.day-of-week{
    color: rgb(190, 190, 190);
}