body{
    background-color:  #fdeefd;
}

.task-card-container{
    display: flex;
    justify-content: space-between;
    
}
.task-card{
    background-color: #dfafef;
    display: inline-block;
    padding-inline-start: 15px;
    padding-right: 85px;

    border-radius: 10px;
    /* border-top-right-radius: 50px; 
        Use this syntax to fold the current day
        May be it is time to switch to TainwindCSS
    
    */ 
}

.day-of-week{
    color: rgb(129,129,129);
   
}